<% include partials/header %>

<header>
        <div class="container">
            <div class="brandname">
                <h1>connect<span class="brandname-span">Me</span></h1>
            </div>
            <nav>
                <ul>
                    <li class="active"><a href="/index">Hi <%= user%></a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
 
    <section id="main-post">
            <div class="container">
                <div class="create-post">
                        <h1>What's On Your Mind</h1>
                        <form class="post-form" action="/newPost" method="post">
        
                                <div class="post-form-field">
                                    <input type="text" name="post[title]" placeholder="Give your thought a title" required>
                                </div>
                                <div class="post-form-field">
                                    <textarea name="post[body]" placeholder="Share your thoughts" cols="30" rows="5" required></textarea>
                                </div>
                                    <input type="submit" value="Post" class="button post-button">
                                <hr>
                        </form>
                </div>

                <div class="timeline">
                    <% allPosts.forEach(function(post){ %>
                        <div class="post-box">
                            <h4>Title: <span class="brandname-span"><%= post.title%></span></h4>
                            By <a href ="/posts/<%=post._id %>/user" ><%= post.name%></a> on <%= post.date.toDateString() %>
                            <p><%= post.body%></p>
                            <a href="/posts/<%=post._id %>">... See More</a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
<% include partials/footer %>