<% include partials/header %>

<!--Design your page here -->
<h4>Welcome <%= user%></h4>
<h1>Post page</h1>

<!-- Displays all the post in the database -->
<% allPosts.forEach(function(post){ %>
    <h4>Title: <%= post.title%></h4>
    <p><%= post.body%></p>
    <!--work on displaying all the post of a particular user-->
    <a href ="/post/user" >By <%= post.name%></a> 
    on <%= post.date.toDateString() %>
    <a href="/posts/<%=post._id %>">... See More</a>
<% }) %>
<!-- create your own post-->
<h3>Create Post</h3>
<form action="/newPost" method="Post">
    <input type="text" name="post[title]" placeholder="Title" />
    <textarea name="post[body]" placeholder="Compose Post" ></textarea>
    <input type="submit" value="Post" />
</form>


<!-- Logout-->
<a href="/logout">Logout</a>

<% include partials/footer %>