<% include partials/header %>

<header>
        <div class="container">
            <div class="brandname">
                <h1>connect<span class="brandname-span">Me</span></h1>
            </div>
            <nav>
                <ul>
                    <li class="active"><a href="/index">Hi <%= user%></a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

<h2><%= returnedPost.title%></h3>
<p><%= returnedPost.body%></p>
By - <%= returnedPost.name%> on <%= returnedPost.date.toDateString()%>

    <% if(edit  == 1){ %>
    <a href="/posts/<%=returnedPost._id %>/edit">Edit</a>
    <form action="/posts/<%=returnedPost._id %>?_method=delete" method="post">
        <button>Delete Post</button>
    </form>
<% } %>

<% include partials/footer %> 