<% include partials/header %>

<header>
        <div class="container">
            <div class="brandname">
                <h1>connect<span class="brandname-span">Me</span></h1>
            </div>
            <nav>
                <ul>
                    <li class="active"><a href="/index">Hi <%= user%></a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/posts">Back to posts</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="main-showpost">
        <div class="container">
            <div class="showpost">
                    <h2><%= returnedPost.title%></h3>
                        <div class="post-body">           
                                <p><%= returnedPost.body%></p>
                                By - <%= returnedPost.name%> on <%= returnedPost.date.toDateString()%>

                                <% if(edit  == 1){ %>
                                    <form action="/posts/<%=returnedPost._id %>?_method=delete" method="post">
                                        <a href="/posts/<%=returnedPost._id %>/edit"><input class="edit" value="Edit" type="button"></a>                 
                                        <button>Delete</button>
                                    </form>
                                    <% } %>
                        </div>
            </div>           
        </div>
    </section>


<% include partials/footer %> 