<h1>Posts by - <%= user.name%></h1>

<!-- Displays all the post in the database -->
<% allPosts.forEach(function(post){ %>
    <h4>Title: <%= post.title%></h4>
    <p><%= post.body%></p>
    <!--work on displaying all the post of a particular user-->
    By <%= post.name%>
    on <%= post.date.toDateString() %>
    <a href="/posts/<%=post._id %>">... See More</a>
    <!-- <form action="/posts/users" method="post">
        <button><%= post.email %></button>
    </form> -->
<% }) %>